.fancy {
  font-family: rationale;
  font-size: 2em;
  color: #f00;
}

.row {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.js-slider-trigger {
  cursor: pointer;
}

.slider {
  overflow: hidden;
  max-height: 999px;
  /*transition: all 500ms;*/
  transition-property: max-height, padding, border;
  transition-duration: 500ms, 0s, 0s;
  transition-delay: 50ms, 50ms, 100ms;
  transition-timing-function: ease-in;
}

.slider-hidden {
  max-height: 0px;
  padding: 0;
  border: none;
  /*transition: all: 500ms;*/
  transition-property: max-height, padding, border;
  transition-duration: 500ms, 0s, 0s;
  transition-delay: 0s, 500ms, 0ms;
  transition-timing-function: ease-out;
}

.pizazz {
  background-color: orange;
  color: white;
  transition-property: color, background-color;
  transition-duration: 100ms, 100ms;
  transition-timing-function: ease-out; 
}

.pizazz:after {
  background-color: transparent;
  color: black;
}

.hidden {
  display: none;
}

.new-color {
  background-color: #ff0;
}